@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');

body{
  margin: 0;
  background-color: beige;
}

#message p{
  font-size: 30px;
}

#message p a {
  color: blanchedalmond; 
  text-decoration: none;
}

#message #departR{
  color: blanchedalmond;
  font-size: 15px;
}

#message{
  height:120px;
  margin-top: 0;
  border: 2px solid black;
  background-color: rgb(84, 27, 27);
}

#titre-accueil{
  text-align: center;
  margin: auto;
  height:140px;
  width: 25%;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(212, 132, 92);
}

#titre-carte{
  color:rgb(212, 132, 92);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#map{
  height: 600px;
  width: 80%;
  margin-left: 10%;
}
#proposition{
  text-align: center;
  color:black;
}

#proposition-container {
  display: flex;
}

#proposition-depart {
  width: 40%;
  margin-left: 10%;
  height: 320px;
  text-align: center;
  background-color: lightcoral;
  box-shadow: -15px 10px 10px rgb(213, 67, 67);
  border-radius: 10px 10px 10px;
  font-family: monospace;
}

#proposition-depart a{
  text-decoration: none;
  padding: 15px 10px;
  color:white;
  background-color:rgb(9, 46, 115);
  border-radius: 10px 10px 10px;

}

#proposition-arrivee {
  text-align: center;

  width: 40%;
  height: 320px;
  border-radius: 10px 10px 10px;
  box-shadow: 15px 10px 10px rgb(37, 57, 138);
  background-color: cornflowerblue;
  font-family: monospace;
}


#proposition-depart:hover {
  background-image: url('../image/takeoff.jpg');
  background-position: center center; /* Centrer l'image */
  background-size: cover; /* Ajuster la taille de l'image */
  transform: scale(1.25); /* Effet de gonflement lors du survol */
  transition-delay: 0.2s; 
}

#proposition-arrivee:hover {
  background-image: url('../image/landing.jpg');
  background-position: center center; /* Centrer l'image */
  background-size: cover; /* Ajuster la taille de l'image */
  transform: scale(1.25); /* Effet de gonflement lors du survol */
  transition-delay: 0.2s; 
}

#proposition-arrivee a{
  text-decoration: none;
  padding: 15px 10px;
  color: black;
  border-radius: 10px 10px 10px;
  background-color:lightcoral;
}



.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:12px;
  line-height:20px;
}
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
}
.custom-popup .leaflet-popup-tip-container {
  width:25px;
  height:15px;
}
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #4d8dcd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: 0;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
body {
    background-color: #111;
}
section {
    margin-top: 50px;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;

}
header  .logo a {
    font-size: 25px;
    color: #29d9d5;
 
}
header  .logo a span {
    color: #fff;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li  {
    margin: 0 15px;
    list-style-type: none;
}
.menu li a {
    color: #fff;
    font-size: 14px;
}




.btn-reservation {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-reservation:hover {
    background-color: #29d9d5;
    color: #fff;
 
}

/* Home acceuil CSS */

#home {
    background: linear-gradient(rgba(0,0,0,0.1),#333), url("images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#home h2 {
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
    text-transform: lowercase;
}
#home h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#home p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}
.home-btn {
    margin-bottom: 20px;
}

#map{
    height : 650px;
}


.find_trip {
    background-color: #222;
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;
}
.find_trip form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.find_trip form div , .find_trip form input[type="submit"]{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.find_trip form label {
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
}
.find_trip form input {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #29d9d5;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
}
.find_trip form input[type="submit"] {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #29d9d5;
    cursor: pointer;
    transition: 0.5s;
}
.find_trip form input[type="submit"]:hover {
    box-shadow: 0 0 10px #29d9d5;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



/* Contact CSS */
#contact {
  padding: 0 10%;
  margin-bottom: 50px;
  height: 90vh;
}
#contact form {
  background-color: #fff;
  margin:auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.left-right .left , .left-right .right  {
  display: flex;
  flex-direction: column;
  width: 49%;
}
#contact form label {
  font-size: 14px;
  padding: 10px 0;
  font-weight: 600
}
#contact form input {
  padding: 8px;
  outline: 0;
  border: 1px solid #999;
}

textarea {
  height: 150px;
  resize: none;
  outline: 0;
  width: 100%;
  padding: 10px;
}
#contact form input:focus , textarea:focus {
  border: 1px solid #29d9d5;
}
iframe {
  height: 150px;
  width: 100%;
}
#contact button {
  width: fit-content;
  padding: 8px 40px;
  background-color: #111;
  border: 1px solid #111;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
#contact button:hover {
  letter-spacing: 1px;
}




/*Responsive*/
@media (max-width:750px) {
  header .menu {
      display: none;
  }
  .btn-reservation {
      display: none;
  }
  /*Home responsive*/
  #home h2 {
      font-size: 18px;
      -webkit-text-stroke: 0;
      color: #fff;
  }
  #home h4 {
      font-size: 28px;
  }
  #home p {
      text-align: center;
      font-size: 10px;
  }
  .find_trip {
      width: 100%;
      height: 200px;
  }
  .find_trip form {
      flex-wrap: wrap;
  }
  .find_trip form div {
      margin-top: 10px;
      flex-direction: column;
      width: 47%;
  }
  .find_trip form input[type="submit"]{
      width: 47%;
  }
  .home-btn {
      display:block;
  }
  /*Responsive A propos*/
  .img-desc {
      flex-direction: column;
      width: 100%;
  }
  .img-desc .left , .img-desc .right {
      width: 100%;
  }
  .img-desc .left video {
      width: 100%;
  }
  .img-desc .left::after {
      background-color: transparent;
  }
  .img-desc .left {
      margin-bottom: 20px;
  }

  /*Responsive menu*/
  .responsive-menu {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
  }
  .responsive-menu::after {
      position: absolute;
      content: "";
      height: 3px;
      background-color: #29d9d5;
      width: 28px;
      box-shadow: 0 10px 0 #29d9d5;
      transform: translateY(-10px);
      transition: 0.5s;
  }
  .responsive-menu.active::after {
      box-shadow: 0 0 0 #29d9d5; 
      transform: rotate(45deg);
  }
  .responsive-menu::before {
      position: absolute;
      content: "";
      height: 3px;
      background-color: #29d9d5;
      width: 28px;
      transform: translateY(10px);
      transition: 0.5s;
  }
  .responsive-menu.active::before {
      transform: rotate(-45deg);
  }
  header .menu.responsive {
      display: flex;
      position: absolute;
      top: 50px;
      right: 0;
      flex-direction: column;
      background-color: #222;
      align-items: unset;
      animation: animate-menu 1s forwards;
  }
  header .menu.responsive li {
      margin: 20px;
      width: 100px;
      padding-left: 20px;
  }

  @keyframes animate-menu {
      0% {
          transform: translateY(0);
      }
      100% {
          transform: translateY(100%);
      }
  }
}




footer {
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}
footer p {
    color: #fff;
}
footer p span {
    color: #29d9d5;
}