#message{
    margin-top: 3%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#formulaire {
    width: 50%;
    height: 450px;
    margin-left: 25%;
    border: 1px solid black;
    margin-top: 6%;
    border-radius:  10px 10px 10px;
    background-image: linear-gradient(120deg, #96b9f2 0%, #b1dcef 100%);
}
body{
    background-image: url("../image/login.jpg");
    background-size: cover; 
    background-position: center center;
    
}

#formulaire form {
   text-align: center;
   margin: auto;
}
#formulaire form label{
    font-size: 25px;
    text-align: justify;
}

input[type=text]{
    height: 20px;
    border-radius: 5px 5px 5px;
}

input[type=password]{
    height: 20px;
    border-radius: 5px 5px 5px;

}

input[type=submit]{ 
    background-color: blueviolet;
    height: 35px;
    border-radius: 5px 5px 5px;
}

input[type=submit]#envoyer:hover{ 
    background-color: black;
    color: white;
    height: 35px;
    cursor: pointer;
    border-radius: 5px 5px 5px;
}

#formulaire form a{
    font-style: italic;
    text-decoration: none;
}

#formulaire form a:hover{
    color:white;
}